<div create-campaign campaign-saved="campaignSaved"></div>
<div class="col-md-8">
	<input class="from-control" ng-model="searchText">
	<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name
			<span class="glyphicon">
			</span>
			</th>	
			<th>PricingMetrics</th>
			<th>status</th>
			<th>budget</th>
			<th>brand Safety</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="campaign in campaignList | filter: searchText">
			<td>{{campaign.externalId}}</td>
			<td>{{campaign.name}}</td>
			<td>{{campaign.type.type}}</td>
			<td>{{campaign.status.status}}</td>
			<td>{{campaign.budget}}</td>
			<td>
				<input id="brand_safety" ng-checked={{campaign.brandSafety}} type="checkbox" data-toggle="toggle" class="form-control">
			</td>
		</tr>

	</tbody>	
</table>
</div>