<div class="modal-header">
	<h3 class="modal-title">Creat Campaign</h3>
</div>

<div class="modal-body form-inline campaign-create-form">
   		<div class="row">
      	 	 <div class="col-md-4">
      	 	 	<h3>Create Campaign</h3>
      	 	 </div>
      	 </div>
      	 
  	 	 <div 
  	 	 	ng-repeat="warn in warnMsg" 
  	 	 	class="col-md-12 alert alert-warning">
          	{{warn}}
       	 </div>
      
         <div class="row">
         	<div class="col-md-2 input-group">
     			<label for="">MYDAS PC ID*</label>
     			<input id="externalId" 
     			ng-model="externalId" 
     			type="text" 
     			class="form-control">
         	</div>
         
         	<div class="col-md-6 input-group">
     			<label for="">Campaign Name*</label>
     			<input id="name" ng-model="name" type="text" class="form-control" placeholder="enter campaign name">
         	</div>

         	<div class="col-md-2 input-group">
     			<label for="">Brand Safety</label>
     			<input id="brand_safety" ng-model="brandSafety" type="checkbox" data-toggle="toggle" class="form-control">
         	</div>
         </div>

         <div class="row"> 
         	<div class="col-md-5 input-group">
     			<label for="">Pricing Metric*</label>
     			<select class="form-control" ng-options="item for item in metrics" ng-model="pricingMetric"></select>
         	</div>

         	<div class="col-md-5 input-group">
     			<label for="">Total Budget*</label>
     			<input id="budget" ng-model="budget" type="text" class="form-control">
         	</div>
         </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
</div>