<div class="row">
	<div class="col-md-12 ">
		<header>
			<div nav-bar
				 scroll="goToAnchor(elm)"
				 nav="nav"
				 change-lang="changeLang(nav.lang)">
			</div>
			<!-- huge img and message box -->
			<div banner
				greeting-msg="carousel.greeting"
				greeting-msg2="carousel.greeting2",
				items="carousel.positions",
				slides="carousel.bgImg">
			</div>
		</header>
		
		<!-- Content starts here -->
		<div overview
			 id="{{overview.id}}" 
			 profile-img="overview.profileImg"
			 title="overview.title"
			 heavy-text="overview.heavyText">
		</div>
		
		<div category-view
			 id="{{category.id}}" 
			 title="category.title"
			 subtitle="category.subtitle"
			 category="category">
		</div>
		<!-- Content ends -->

		<footer>
			<div darkbg-footer
			     id="{{footer.id}}"
				 github-img="footer.githubImg"
				 desc-text="footer.descText"
				 navs="footer.navs">
			</div>
		</footer>
	</div>
</div>