nav.my-nav ul li {
	list-style-type: none;
	color: #fff;
}

nav.my-nav {
	transition: background 0.1s linear;
}

nav.my-nav ul li a {
	color: #fff;
	font-size: 20px;
}

nav.my-nav.invert-nav {
	background-color: #fff;
	opacity: 1;
	transition: .2s ease-out all;
	border-bottom: 1px solid #ddd;
	color: #337ab7;
	pading-top: 0em;
}

nav.my-nav.invert-nav ul li {
	color: #337ab7;
	list-style-type: none;
}

nav.my-nav.invert-nav ul li a {
	color: #337ab7;
}

.footer-text a {
	font-size: 16px;
	color: #fff;
}

.message-base {
	display: inline-block;
	padding-top: 5vh;

}

.message-box {
	background-color: white;
	position: absolute;
	top: 15vh;
	z-index: 10;
}

.half {
	width: 50%;
	height: 50%;
}

.large-font {
	font-size: 20px;
}

.center {
	text-align: center;
}

.margin-top-lg {
	margin-top: 50px;
}

.footer {
    padding: 50px 0;
    background-color: #2b2d2e;
    color: #fff;
}

.sm-img {
	height: 50px;
	width: auto;
}

.md-img2 {
	height: 250px;
	width: 250px;
}

.md-img {
	margin-top: 50px;
	margin-right: 30px;
	height: 20vw;
	width: 20vw;
}

.thumbnail img.sm-img {
	height: 200px;
}

.caption h3 a {
	font-size: 20px;
}

.footer-nav-bar {
	font-size: 15px;
}

.small-padding {
	padding-top: 20px;
}

.leftAlignment {
	text-align: right;
}

.big-font {
	color: #8aaad9;
	font-size: 3.4vmax;
	font-weight: 200;
}

.msg-box {
	vertical-align: top;
	display: inline-block;
	width: 30vw;
	height: 15vh;
	padding: 2.2vh 0 10vh 0.8vw;
}

.flag {
	height: 22vh;
	width: 60vw; 
	position: absolute; 
	top: 30vh; 
	left: 20vw; 
	background-color: white;
	overflow: hidden;
}

@media (max-width: 600px) {
	.flag {
		display: none;
	}

	nav.navbar-nav.navbar-right {
		display: none;
	}

	nav.my-nav.invert-nav {
		display: none;
	}
}

.super-big-font {
	font-size: 5.7vmax;
	color: #8aaad9;
	padding-top: 5.2vh;
}

.overflow-hidden {
	overflow: hidden;
}

.slide-display {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

@keyframes example {
	0%   {top: 0px;}
    33%  {top: -100%;}
    66%  {top: -200%;}
}

.base {
	position: relative;
	animation-name: example;
	animation-duration: 2s;
}

.slide {

}

.slide1 {
	position: relative;
	top: 0px;
}

.slide0 {
	position: relative;
	top: 0px;
}

.slide2 {
	position: relative;
	top: -300px;
}

.keep-right {
	text-align: right;
	padding-right: 20px;
}


.uppercase {
	text-transform: uppercase;
}

.category-title {
	margin-top: 50px;
}

.placeholder {
	background: url("static/header3.jpg") no-repeat center center fixed; 
	background-size: cover;
}